[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-overview_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-overview_XPCT.ome.zarr
	url = https://github.com/dandizarrs/1cd1a161-ca2c-4121-b97a-eeb98f00ce01
	datalad-id = 9733cc82-d709-4ebc-b668-94cb2507b396
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-hemi_acq-zoom_chunk-02_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-hemi_acq-zoom_chunk-02_XPCT.ome.zarr
	url = https://github.com/dandizarrs/0a89ff02-90c4-4d3d-8275-8bc8ee140715
	datalad-id = f88048a7-a116-4747-b2a1-a87dc7749a99
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-zoom_chunk-02_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-zoom_chunk-02_XPCT.ome.zarr
	url = https://github.com/dandizarrs/cc3217f2-4d73-41df-85c4-78b81a0ea611
	datalad-id = 5bf051bf-1eaf-4410-b173-adfb456c6bca
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-zoom_chunk-03_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-zoom_chunk-03_XPCT.ome.zarr
	url = https://github.com/dandizarrs/5d054273-89c6-4d4d-b82a-de4feea3b2cc
	datalad-id = 995f8543-810b-4238-bbb3-2f6da384a608
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-hemi_acq-overview_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-hemi_acq-overview_XPCT.ome.zarr
	url = https://github.com/dandizarrs/6f11427f-ef86-42b8-9800-d3e09265c965
	datalad-id = ca53edb2-f9d1-40b8-8569-f8d1cb7a0aa5
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-hemi_acq-zoom_chunk-01_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-hemi_acq-zoom_chunk-01_XPCT.ome.zarr
	url = https://github.com/dandizarrs/d483e140-ccd7-4bcf-8a69-a10b7087381c
	datalad-id = 2cc179aa-d695-4e72-8af2-f2040034e13c
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-zoom_chunk-01_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-IC_acq-zoom_chunk-01_XPCT.ome.zarr
	url = https://github.com/dandizarrs/28a250f1-5f86-4a7f-a20e-475ab7b05f3d
	datalad-id = 69898d5b-4103-4026-bed0-dd1981a97204
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-lefthemi+ICblock+punch1+piece1_uCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-lefthemi+ICblock+punch1+piece1_uCT.ome.zarr
	url = https://github.com/dandizarrs/b35e8f01-3225-4048-a746-6b453c5da659
	datalad-id = 969ddd13-b1cc-4248-9ec0-568cf18cff7c
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-lefthemi+ICblock+punch1+piece1+trim2_uCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-lefthemi+ICblock+punch1+piece1+trim2_uCT.ome.zarr
	url = https://github.com/dandizarrs/c73dec16-644d-4801-9792-2e8fce8602de
	datalad-id = cf99e984-7586-40df-a5f5-36ed9ced5731
[submodule "sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-lefthemi+ICblock+punch1+piece1+trim9_uCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb1/micr/sub-Hb1_sample-lefthemi+ICblock+punch1+piece1+trim9_uCT.ome.zarr
	url = https://github.com/dandizarrs/a681e174-ae6b-4fc7-8576-6f2f96dc12e4
	datalad-id = f49f3efc-6e62-4590-9ae9-a16fd92c23d4
[submodule "sourcedata/raw/sub-I71/micr/sub-I71_sample-leftHemi_acq-zoom_chunk-02_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-I71/micr/sub-I71_sample-leftHemi_acq-zoom_chunk-02_XPCT.ome.zarr
	url = https://github.com/dandizarrs/64909400-ee3f-4693-a8f6-eb2a579e3099
	datalad-id = f1816336-c759-4995-b4fe-268463551def
[submodule "derivatives/sub-Hb1/dwi/sub-Hb1_sample-lefthemi_space-XPCT_desc-CSD_tractography.precomputed.not.a.zarr"]
	path = derivatives/sub-Hb1/dwi/sub-Hb1_sample-lefthemi_space-XPCT_desc-CSD_tractography.precomputed.not.a.zarr
	url = https://github.com/dandizarrs/941034d7-d423-41a3-88e8-4c35b23ce211
	datalad-id = 1ae25871-d948-46a5-88f6-27e5a0d3fa59
[submodule "sourcedata/raw/sub-Hb2/micr/sub-Hb2_sample-leftHemi-overview_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb2/micr/sub-Hb2_sample-leftHemi-overview_XPCT.ome.zarr
	url = https://github.com/dandizarrs/2b5428c6-b667-40c6-a257-61973cff5005
	datalad-id = 3ffde2fd-1d42-407f-97e1-f48124b69bc2
[submodule "sourcedata/raw/sub-Hb2/micr/sub-Hb2_sample-leftHemi_acq-zoom_chunk-01_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb2/micr/sub-Hb2_sample-leftHemi_acq-zoom_chunk-01_XPCT.ome.zarr
	url = https://github.com/dandizarrs/715f7747-f166-4204-958f-051e0413ad80
	datalad-id = c8c5d74e-27c9-4007-a11d-e01bc728301c
[submodule "sourcedata/raw/sub-Hb2/micr/sub-Hb2_sample-leftHemi_acq-zoom_chunk-02_XPCT.ome.zarr"]
	path = sourcedata/raw/sub-Hb2/micr/sub-Hb2_sample-leftHemi_acq-zoom_chunk-02_XPCT.ome.zarr
	url = https://github.com/dandizarrs/64909400-ee3f-4693-a8f6-eb2a579e3099
	datalad-id = f1816336-c759-4995-b4fe-268463551def
